{{- if or
  (and (eq .Values.config.storage.type "s3") (not .Values.config.storage.s3.existingSecret) .Values.config.storage.s3.accessKeyId .Values.config.storage.s3.secretAccessKey)
  (and (eq .Values.config.database.type "postgresql") (not .Values.config.database.postgresql.existingSecret))
  (and (eq .Values.config.database.type "mysql") (not .Values.config.database.mysql.existingSecret))
  (and .Values.config.redis.enabled (not .Values.config.redis.existingSecret) (or .Values.config.redis.password .Values.config.redis.username))
  (and .Values.config.upstream.netrcFile (not .Values.config.upstream.existingNetrcSecret))
-}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ncps.fullname" . }}
  labels:
    {{- include "ncps.labels" . | nindent 4 }}
  {{- if and .Values.migration .Values.migration.enabled (eq .Values.migration.mode "job") }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
  {{- end }}
type: Opaque
data:
  {{- if and (eq .Values.config.storage.type "s3") (not .Values.config.storage.s3.existingSecret) .Values.config.storage.s3.accessKeyId .Values.config.storage.s3.secretAccessKey }}
  s3-access-key-id: {{ .Values.config.storage.s3.accessKeyId | b64enc | quote }}
  s3-secret-access-key: {{ .Values.config.storage.s3.secretAccessKey | b64enc | quote }}
  {{- end }}
  {{- if and (eq .Values.config.database.type "postgresql") (not .Values.config.database.postgresql.existingSecret) }}
  {{- $pg := .Values.config.database.postgresql -}}
  {{- if $pg.password }}
  postgres-password: {{ $pg.password | b64enc | quote }}
  {{- end }}
  {{- $auth := $pg.username | urlquery }}
  {{- if $pg.password }}
  {{- $auth = printf "%s:%s" $auth ($pg.password | urlquery) }}
  {{- end }}
  database-url: {{ printf "postgresql://%s@%s:%d/%s?sslmode=%s%s" $auth $pg.host ($pg.port | int) $pg.database $pg.sslMode (ternary (printf "&%s" $pg.extraParams) "" (ne $pg.extraParams "")) | b64enc | quote }}
  {{- end }}
  {{- if and (eq .Values.config.database.type "mysql") (not .Values.config.database.mysql.existingSecret) }}
  {{- $mysql := .Values.config.database.mysql -}}
  {{- if $mysql.password }}
  mysql-password: {{ $mysql.password | b64enc | quote }}
  {{- end }}
  {{- $auth := $mysql.username | urlquery }}
  {{- if $mysql.password }}
  {{- $auth = printf "%s:%s" $auth ($mysql.password | urlquery) }}
  {{- end }}
  database-url: {{ printf "mysql://%s@%s:%d/%s%s" $auth $mysql.host ($mysql.port | int) $mysql.database (ternary (printf "?%s" $mysql.extraParams) "" (ne $mysql.extraParams "")) | b64enc | quote }}
  {{- end }}
  {{- if and .Values.config.redis.enabled (not .Values.config.redis.existingSecret) }}
  {{- if .Values.config.redis.password }}
  redis-password: {{ .Values.config.redis.password | b64enc | quote }}
  {{- end }}
  {{- if .Values.config.redis.username }}
  redis-username: {{ .Values.config.redis.username | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if and .Values.config.upstream.netrcFile (not .Values.config.upstream.existingNetrcSecret) }}
  netrc: {{ .Values.config.upstream.netrcFile | b64enc | quote }}
  {{- end }}
{{- end }}
