{{- if or
  (and (eq .Values.config.storage.type "s3") (not .Values.config.storage.s3.existingSecret) .Values.config.storage.s3.accessKeyId .Values.config.storage.s3.secretAccessKey)
  (and (eq .Values.config.database.type "postgresql") (not .Values.config.database.postgresql.existingSecret) .Values.config.database.postgresql.password)
  (and (eq .Values.config.database.type "mysql") (not .Values.config.database.mysql.existingSecret) .Values.config.database.mysql.password)
  (and .Values.config.redis.enabled (not .Values.config.redis.existingSecret) (or .Values.config.redis.password .Values.config.redis.username))
  (and .Values.config.upstream.netrcFile (not .Values.config.upstream.existingNetrcSecret))
-}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "ncps.fullname" . }}
  labels:
    {{- include "ncps.labels" . | nindent 4 }}
  {{- if and .Values.migration.enabled (eq .Values.migration.mode "job") }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
  {{- end }}
type: Opaque
data:
  {{- if and (eq .Values.config.storage.type "s3") (not .Values.config.storage.s3.existingSecret) .Values.config.storage.s3.accessKeyId .Values.config.storage.s3.secretAccessKey }}
  s3-access-key-id: {{ .Values.config.storage.s3.accessKeyId | b64enc | quote }}
  s3-secret-access-key: {{ .Values.config.storage.s3.secretAccessKey | b64enc | quote }}
  {{- end }}
  {{- if and (eq .Values.config.database.type "postgresql") (not .Values.config.database.postgresql.existingSecret) .Values.config.database.postgresql.password }}
  postgres-password: {{ .Values.config.database.postgresql.password | b64enc | quote }}
  database-url: {{ printf "postgresql://%s:%s@%s:%d/%s?sslmode=%s%s" (.Values.config.database.postgresql.username | urlquery) (.Values.config.database.postgresql.password | urlquery) .Values.config.database.postgresql.host (.Values.config.database.postgresql.port | int) .Values.config.database.postgresql.database .Values.config.database.postgresql.sslMode (ternary (printf "&%s" .Values.config.database.postgresql.extraParams) "" (ne .Values.config.database.postgresql.extraParams "")) | b64enc | quote }}
  {{- end }}
  {{- if and (eq .Values.config.database.type "mysql") (not .Values.config.database.mysql.existingSecret) .Values.config.database.mysql.password }}
  mysql-password: {{ .Values.config.database.mysql.password | b64enc | quote }}
  database-url: {{ printf "mysql://%s:%s@%s:%d/%s%s" (.Values.config.database.mysql.username | urlquery) (.Values.config.database.mysql.password | urlquery) .Values.config.database.mysql.host (.Values.config.database.mysql.port | int) .Values.config.database.mysql.database (ternary (printf "?%s" .Values.config.database.mysql.extraParams) "" (ne .Values.config.database.mysql.extraParams "")) | b64enc | quote }}
  {{- end }}
  {{- if and .Values.config.redis.enabled (not .Values.config.redis.existingSecret) }}
  {{- if .Values.config.redis.password }}
  redis-password: {{ .Values.config.redis.password | b64enc | quote }}
  {{- end }}
  {{- if .Values.config.redis.username }}
  redis-username: {{ .Values.config.redis.username | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if and .Values.config.upstream.netrcFile (not .Values.config.upstream.existingNetrcSecret) }}
  netrc: {{ .Values.config.upstream.netrcFile | b64enc | quote }}
  {{- end }}
{{- end }}
