{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "ncps.serviceAccountName" . }}
  labels:
    {{- include "ncps.labels" . | nindent 4 }}
  {{- if or .Values.serviceAccount.annotations (and .Values.migration.enabled (eq .Values.migration.mode "job")) }}
  annotations:
    {{- if and .Values.migration.enabled (eq .Values.migration.mode "job") }}
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation
    {{- end }}
    {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
{{- if .Values.serviceAccount.automountServiceAccountToken }}
automountServiceAccountToken: {{ .Values.serviceAccount.automountServiceAccountToken }}
{{- end }}
{{- end }}
