name: CI
on:
  pull_request:
    branches:
      - main
jobs:
  flake-check:
    runs-on: ubuntu-24.04
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: DeterminateSystems/flake-checker-action@main
      - run: nix flake check -L --all-systems
  docker:
    uses: ./.github/workflows/docker.yml
    with:
      systems: "['x86_64-linux']"
      images: kalbasit/ncps
      username: ${{ vars.DOCKERHUB_USERNAME }}
      push_images: ${{ github.event.pull_request.head.repo.fork == false }}
    secrets:
      password: ${{ secrets.DOCKERHUB_TOKEN }}
