name: Releases
permissions:
  contents: read
  packages: write
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      systems: "['x86_64-linux', 'aarch64-linux']"
      images: kalbasit/ncps
      dockerhub_username: ${{ vars.DOCKERHUB_USERNAME }}
      push_images: true
    secrets:
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}
  helm:
    uses: ./.github/workflows/helm.yml
    needs: build
  release:
    runs-on: ubuntu-24.04
    needs: build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Release with Notes
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          draft: true
          prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') || contains(github.ref, 'rc') }}
          append_body: true
          body: |
            ${{ (contains(github.ref, 'alpha') || contains(github.ref, 'beta') || contains(github.ref, 'rc')) && '> [!WARNING]
            > This is a pre-release version and should not be used in production. Your data may be lost or corrupted.
            > Please use the latest release for production environments.
            ' || '' }}

            > [!Important]
            >
            > If you are enjoying ncps, please consider showing a token of appreciation by:
            >
            > - Pressing the “Star” button on [GitHub](https://github.com/kalbasit/ncps) (top-right).
            > - Considering a one-time or recurrent donation via [GitHub Sponsors](https://github.com/sponsors/kalbasit) or [PayPal](https://paypal.me/kalbasit).

            ## Docker Images ${{ github.ref_name }}
            The following image tags were published to [Dockerhub](https://hub.docker.com/r/kalbasit/ncps):
            ```
            ${{ needs.build.outputs.tags }}
            ```

            ## Helm Chart Release ${{ github.ref_name }}

            ### Installation

            ```bash
            helm install ncps oci://ghcr.io/${{ github.repository_owner }}/helm/ncps --version ${{ github.ref_name }}
            ```

            ### Upgrade

            ```bash
            helm upgrade ncps oci://ghcr.io/${{ github.repository_owner }}/helm/ncps --version ${{ github.ref_name }}
            ```

            ### Values

            See [values.yaml](https://github.com/${{ github.repository }}/blob/${{ github.ref_name }}/charts/ncps/values.yaml) for all configuration options.

            ### Documentation

            See [Helm Chart Documentation](https://docs.ncps.dev/user-guide/installation/helm-chart) for detailed documentation and examples.
